# Importing libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [2]:
#loading the Traffic police dataset for Rhode Islands
df=pd.read_csv("datasets/traffic-RI.csv", index_col=[0])
df.head()

,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,contraband_drugs,contraband_weapons,contraband_alcohol,contraband_other,frisk_performed,search_conducted,search_basis,reason_for_search,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
raw_row_number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2005-11-22,11:15:00,X3,white,male,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2,2005-10-01,12:20:00,X3,white,male,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
3,2005-10-01,12:30:00,X3,white,female,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
4,2005-10-01,12:50:00,X3,white,male,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
5,2005-10-01,13:10:00,X3,white,female,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

# Getting to know the data

In [3]:
df.dtypes

date                     object
time                     object
zone                     object
subject_race             object
subject_sex              object
department_id            object
type                     object
arrest_made              object
citation_issued          object
warning_issued           object
outcome                  object
contraband_found         object
contraband_drugs         object
contraband_weapons       object
contraband_alcohol       object
contraband_other         object
frisk_performed          object
search_conducted           bool
search_basis             object
reason_for_search        object
reason_for_stop          object
vehicle_make             object
vehicle_model            object
raw_BasisForStop         object
raw_OperatorRace         object
raw_OperatorSex          object
raw_ResultOfStop         object
raw_SearchResultOne      object
raw_SearchResultTwo      object
raw_SearchResultThree    object
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 509681 entries, 1 to 509681
Data columns (total 30 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date                   509671 non-null  object
 1   time                   509671 non-null  object
 2   zone                   509671 non-null  object
 3   subject_race           480608 non-null  object
 4   subject_sex            480584 non-null  object
 5   department_id          509671 non-null  object
 6   type                   509681 non-null  object
 7   arrest_made            480608 non-null  object
 8   citation_issued        480608 non-null  object
 9   warning_issued         480608 non-null  object
 10  outcome                473840 non-null  object
 11  contraband_found       17762 non-null   object
 12  contraband_drugs       15988 non-null   object
 13  contraband_weapons     11795 non-null   object
 14  contraband_alcohol     1217 non-null    object
 15  contraband_other       17762 non-null   object
 16  frisk_performed        509671 non-null  object
 17  search_conducted       509681 non-null  bool
 18  search_basis           17762 non-null   object
 19  reason_for_search      17762 non-null   object
 20  reason_for_stop        480608 non-null  object
 21  vehicle_make           318117 non-null  object
 22  vehicle_model          230088 non-null  object
 23  raw_BasisForStop       480608 non-null  object
 24  raw_OperatorRace       480608 non-null  object
 25  raw_OperatorSex        480608 non-null  object
 26  raw_ResultOfStop       480608 non-null  object
 27  raw_SearchResultOne    17762 non-null   object
 28  raw_SearchResultTwo    819 non-null     object
 29  raw_SearchResultThree  168 non-null     object
dtypes: bool(1), object(29)
memory usage: 117.1+ MB

In [5]:
df.isnull().sum()

date                         10
time                         10
zone                         10
subject_race              29073
subject_sex               29097
department_id                10
type                          0
arrest_made               29073
citation_issued           29073
warning_issued            29073
outcome                   35841
contraband_found         491919
contraband_drugs         493693
contraband_weapons       497886
contraband_alcohol       508464
contraband_other         491919
frisk_performed              10
search_conducted              0
search_basis             491919
reason_for_search        491919
reason_for_stop           29073
vehicle_make             191564
vehicle_model            279593
raw_BasisForStop          29073
raw_OperatorRace          29073
raw_OperatorSex           29073
raw_ResultOfStop          29073
raw_SearchResultOne      491919
raw_SearchResultTwo      508862
raw_SearchResultThree    509513
dtype: int64

In [6]:
df.describe() # this will not be accurate untill we convert data types

,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,contraband_drugs,contraband_weapons,contraband_alcohol,contraband_other,frisk_performed,search_conducted,search_basis,reason_for_search,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
count,509671,509671,509671,480608,480584,509671,509681,480608,480608,480608,473840,17762,15988,11795,1217,17762,509671,509681,17762,17762,480608,318117,230088,480608,480608,480608,480608,17762,819,168
unique,3809,1440,6,5,2,75,1,2,2,2,3,2,2,2,2,2,2,2,3,188,12,96,9188,12,7,4,6,6,5,6
top,2015-09-05,10:00:00,X4,white,male,500,vehicular,False,True,False,citation,False,False,False,True,False,False,False,other,Incident to Arrest,Speeding,TOYT,ACCORD,SP,W,M,M,N,D,O
freq,302,1763,135349,344734,349446,122945,509681,464005,428388,451759,428388,11183,11223,11296,1120,16771,500349,491919,9035,6998,268744,37048,11569,268744,344734,349446,428388,11183,200,84

# Feature Engineering

## Checking the categorical features

In [7]:
continous=[]
categorical=[]
def convert_type(a):
    n=df[a].nunique()
    if n > 20:
        continous.append(a)
    else:
        categorical.append(a)

In [8]:
for index,i in enumerate(df.columns):
    convert_type(i)

In [9]:
continous

['date',
 'time',
 'department_id',
 'reason_for_search',
 'vehicle_make',
 'vehicle_model']

In [10]:
categorical

['zone',
 'subject_race',
 'subject_sex',
 'type',
 'arrest_made',
 'citation_issued',
 'warning_issued',
 'outcome',
 'contraband_found',
 'contraband_drugs',
 'contraband_weapons',
 'contraband_alcohol',
 'contraband_other',
 'frisk_performed',
 'search_conducted',
 'search_basis',
 'reason_for_stop',
 'raw_BasisForStop',
 'raw_OperatorRace',
 'raw_OperatorSex',
 'raw_ResultOfStop',
 'raw_SearchResultOne',
 'raw_SearchResultTwo',
 'raw_SearchResultThree']

In [11]:
df[categorical].iloc[-20:]

,zone,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,contraband_drugs,contraband_weapons,contraband_alcohol,contraband_other,frisk_performed,search_conducted,search_basis,reason_for_stop,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
raw_row_number,,,,,,,,,,,,,,,,,,,,,,,,
509662,X1,NaN,NaN,vehicular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509663,X1,NaN,NaN,vehicular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509664,X3,white,female,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Other Traffic Violation,OT,W,F,M,NaN,NaN,NaN
509665,K2,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,W,M,M,NaN,NaN,NaN
509666,K2,white,female,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,W,F,M,NaN,NaN,NaN
509667,K2,hispanic,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,H,M,M,NaN,NaN,NaN
509668,X1,NaN,NaN,vehicular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509669,X4,hispanic,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Equipment/Inspection Violation,EQ,H,M,M,NaN,NaN,NaN
509670,X4,NaN,NaN,vehicular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509671,X4,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,W,M,M,NaN,NaN,NaN
509672,X4,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,W,M,M,NaN,NaN,NaN
509673,K2,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,W,M,M,NaN,NaN,NaN
509674,K2,white,female,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Other Traffic Violation,OT,W,F,M,NaN,NaN,NaN
509675,X4,NaN,NaN,vehicular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509676,X1,white,female,vehicular,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Equipment/Inspection Violation,EQ,W,F,N,NaN,NaN,NaN
509677,X3,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Equipment/Inspection Violation,EQ,W,M,M,NaN,NaN,NaN
509678,K3,white,female,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,W,F,M,NaN,NaN,NaN
509679,X4,white,male,vehicular,False,False,True,warning,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Equipment/Inspection Violation,EQ,W,M,W,NaN,NaN,NaN
509680,X4,white,female,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,Speeding,SP,W,F,M,NaN,NaN,NaN
509681,NaN,NaN,NaN,vehicular,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
def print_unique(a):
    for i in a:
        print(df[i].unique())

In [13]:
print_unique(df[categorical])

['X3' 'X4' 'K3' 'K2' 'K1' 'X1' nan]
['white' 'hispanic' 'black' 'other' 'asian/pacific islander' nan]
['male' 'female' nan]
['vehicular']
[False True nan]
[True False nan]
[False True nan]
['citation' nan 'arrest' 'warning']
[nan False True]
[nan False True]
[nan False True]
[nan False True]
[nan False True]
[False True nan]
[False  True]
[nan 'other' 'probable cause' 'plain view']
['Speeding' 'Other Traffic Violation' 'Equipment/Inspection Violation'
 'Motorist Assist/Courtesy' 'Registration Violation' 'Call for Service'
 nan 'Violation of City/Town Ordinance' 'Special Detail/Directed Patrol'
 'APB' 'Warrant' 'Suspicious Person' 'Seatbelt Violation']
['SP' 'OT' 'EQ' 'MO' 'RV' 'CS' nan 'VO' 'SD' 'AP' 'WA' 'SU' 'SB']
['W' 'H' 'B' 'O' 'I' 'N' nan 'L']
['M' 'F' nan 'N' 'U']
['M' 'N' 'D' 'P' 'W' nan 'A']
[nan 'N' 'D' 'M' 'A' 'W' 'O']
[nan 'W' 'D' 'A' 'O' 'M']
[nan 'D' 'M' 'O' 'N' 'A' 'W']

In [14]:
# I will replace the NaNs with 0 and make a new category out of it or using my domain knowedge i will replace some with mode for that particular features

In [15]:
df=df.drop(categorical[-8], axis=1)
categorical.pop(-8)

'reason_for_stop'

In [16]:
df.head()

,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,contraband_drugs,contraband_weapons,contraband_alcohol,contraband_other,frisk_performed,search_conducted,search_basis,reason_for_search,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
raw_row_number,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2005-11-22,11:15:00,X3,white,male,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2,2005-10-01,12:20:00,X3,white,male,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
3,2005-10-01,12:30:00,X3,white,female,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
4,2005-10-01,12:50:00,X3,white,male,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
5,2005-10-01,13:10:00,X3,white,female,200,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,NaN,NaN,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

In [17]:
print_unique(df[categorical])

['X3' 'X4' 'K3' 'K2' 'K1' 'X1' nan]
['white' 'hispanic' 'black' 'other' 'asian/pacific islander' nan]
['male' 'female' nan]
['vehicular']
[False True nan]
[True False nan]
[False True nan]
['citation' nan 'arrest' 'warning']
[nan False True]
[nan False True]
[nan False True]
[nan False True]
[nan False True]
[False True nan]
[False  True]
[nan 'other' 'probable cause' 'plain view']
['SP' 'OT' 'EQ' 'MO' 'RV' 'CS' nan 'VO' 'SD' 'AP' 'WA' 'SU' 'SB']
['W' 'H' 'B' 'O' 'I' 'N' nan 'L']
['M' 'F' nan 'N' 'U']
['M' 'N' 'D' 'P' 'W' nan 'A']
[nan 'N' 'D' 'M' 'A' 'W' 'O']
[nan 'W' 'D' 'A' 'O' 'M']
[nan 'D' 'M' 'O' 'N' 'A' 'W']

In [18]:
df[categorical[-8]]=df[categorical[-8]].fillna(value="other")
df[categorical].head()

,zone,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,contraband_drugs,contraband_weapons,contraband_alcohol,contraband_other,frisk_performed,search_conducted,search_basis,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
raw_row_number,,,,,,,,,,,,,,,,,,,,,,,
1,X3,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,other,SP,W,M,M,NaN,NaN,NaN
2,X3,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,other,SP,W,M,M,NaN,NaN,NaN
3,X3,white,female,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,other,SP,W,F,M,NaN,NaN,NaN
4,X3,white,male,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,other,SP,W,M,M,NaN,NaN,NaN
5,X3,white,female,vehicular,False,True,False,citation,NaN,NaN,NaN,NaN,NaN,False,False,other,SP,W,F,M,NaN,NaN,NaN

In [19]:
categorical.pop(-8)

'search_basis'

In [20]:
df[categorical]=df[categorical].fillna(value="missing")
df[categorical].isnull().sum()

zone                     0
subject_race             0
subject_sex              0
type                     0
arrest_made              0
citation_issued          0
warning_issued           0
outcome                  0
contraband_found         0
contraband_drugs         0
contraband_weapons       0
contraband_alcohol       0
contraband_other         0
frisk_performed          0
search_conducted         0
raw_BasisForStop         0
raw_OperatorRace         0
raw_OperatorSex          0
raw_ResultOfStop         0
raw_SearchResultOne      0
raw_SearchResultTwo      0
raw_SearchResultThree    0
dtype: int64

In [21]:
df[continous].head()

,date,time,department_id,reason_for_search,vehicle_make,vehicle_model
raw_row_number,,,,,,
1,2005-11-22,11:15:00,200,NaN,NaN,NaN
2,2005-10-01,12:20:00,200,NaN,NaN,NaN
3,2005-10-01,12:30:00,200,NaN,NaN,NaN
4,2005-10-01,12:50:00,200,NaN,NaN,NaN
5,2005-10-01,13:10:00,200,NaN,NaN,NaN

In [22]:
df[continous].isnull().sum()

date                     10
time                     10
department_id            10
reason_for_search    491919
vehicle_make         191564
vehicle_model        279593
dtype: int64

In [27]:
df.dropna(subset=continous[0:3],axis=1,inplace=True)

KeyError: ['date', 'time', 'department_id']

In [28]:
df[continous].isnull().sum()

date                     10
time                     10
department_id            10
reason_for_search    491919
vehicle_make         191564
vehicle_model        279593
dtype: int64

In [29]:
df.date=pd.to_datetime(df.date)
df.time=pd.to_datetime(df.time)
df.dtypes

date                     datetime64[ns]
time                     datetime64[ns]
zone                             object
subject_race                     object
subject_sex                      object
department_id                    object
type                             object
arrest_made                      object
citation_issued                  object
warning_issued                   object
outcome                          object
contraband_found                 object
contraband_drugs                 object
contraband_weapons               object
contraband_alcohol               object
contraband_other                 object
frisk_performed                  object
search_conducted                   bool
search_basis                     object
reason_for_search                object
vehicle_make                     object
vehicle_model                    object
raw_BasisForStop                 object
raw_OperatorRace                 object
raw_OperatorSex                  object
raw_ResultOfStop                 object
raw_SearchResultOne              object
raw_SearchResultTwo              object
raw_SearchResultThree            object
dtype: object

In [30]:
df['reason_for_search'].nunique()

188

In [31]:
df['reason_for_search'].fillna(value="missing", inplace=True)

In [32]:
for i in continous[-2:]:
    mode=df[i].mode()
    df[i].fillna(value=mode, inplace=True)

In [33]:
df.isnull().sum()

date                         10
time                         10
zone                          0
subject_race                  0
subject_sex                   0
department_id                10
type                          0
arrest_made                   0
citation_issued               0
warning_issued                0
outcome                       0
contraband_found              0
contraband_drugs              0
contraband_weapons            0
contraband_alcohol            0
contraband_other              0
frisk_performed               0
search_conducted              0
search_basis                  0
reason_for_search             0
vehicle_make             191564
vehicle_model            279593
raw_BasisForStop              0
raw_OperatorRace              0
raw_OperatorSex               0
raw_ResultOfStop              0
raw_SearchResultOne           0
raw_SearchResultTwo           0
raw_SearchResultThree         0
dtype: int64